{{ form_start(form) }}

<div class="row">
    <div class="col">
        {{ form_row(form.Name) }}
    </div>
    <div class="col">
        {{ form_row(form.TimeSpent) }}
    </div>
    <div class="col">
        {{ form_row(form.TimeStart) }}
    </div>
    <div class="col">
        {{ form_row(form.TimeEnd) }}
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}