{% extends 'base.html.twig' %}

{% block title %}Habit index{% endblock %}

{% block body %}
<main role="main">

    <div class="jumbotron">
        <div class="container"></div>
    </div>

    <div class="container">
        <nav class="navbar-dark  bg-dark">
            <div class="input-group" >
                <div class="input-group-append">
                    <img src="{{ asset('../img/icon_calendar.png') }}" alt="logo">
                </div>
            </div>
        </nav>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Activities last week</h4>

                <ul class="list-group mb-3">
                    {% for habit in habits %}
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0"> Habit </h6>
                        </div>
                        <span class="text-muted">{{ habit.Name }} </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0"> Time Spent </h6>
                        </div>
                        <span class="text-muted">{{ habit.TimeSpent }} </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0"> Time Start </h6>
                        </div>
                        <span class="text-muted">{{ habit.TimeStart ? habit.TimeStart|date('Y-m-d H:i:s') : '' }} </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0"> Time End </h6>
                        </div>
                        <span class="text-muted">{{ habit.TimeEnd ? habit.TimeEnd|date('Y-m-d H:i:s') : '' }} </span>
                    </li>
                    <div class="card p-3">
                        <div class="input-group">
                            <div class="input-group-append">
                                <a class="btn btn-secondary" href="{{ path('app_habit_show', {'id': habit.id}) }}">See details </a>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="input-group-append">
                                <a class="btn btn-secondary" href="{{ path('app_habit_edit', {'id': habit.id}) }}">Edit habit</a>
                            </div>
                        </div>
                    </div>
                </ul>
                {% else %}
                    <div class="input-group">
                        <div class="input-group-append">
                            <h6 class="my-0"> No habits found added last week </h6>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
    </div>
</main>
{% endblock %}